@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@layer utilities {
  .font-poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }

  .font-poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }

  .font-poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

  .font-poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }

  .font-poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
  }
}

@layer utilities {
  .main-loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side, #f03355 95%, #0000) 50% 1px/12px 12px
        no-repeat,
      radial-gradient(farthest-side, #0000 calc(100% - 14px), #ccc 0);
    animation: spin 2s infinite linear;
  }

  @keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }
}
